<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hachiko</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Hachikō ハチ公</h1>
  <p>Hachiko was a Japanese Akita dog remembered for his remarkable loyalty to his owner, Hidesaburō Ueno, for whom he
    continued to wait for over nine years following Ueno's death.</p>
  <p>Hachikō was born on November 10, 1923, at a farm near the city of Ōdate, Akita Prefecture. In 1924, Hidesaburō
    Ueno, a professor at the Tokyo Imperial University, brought him to live in Shibuya, Tokyo, as his pet. Hachikō would
    meet Ueno at Shibuya Station every day after his commute home. This continued until May 21, 1925, when Ueno died of
    a cerebral hemorrhage while at work. From then until his death on March 8, 1935, Hachikō would return to Shibuya
    Station every day to await Ueno's return.</p>
  <p>During his lifetime, the dog was held up in Japanese culture as an example of loyalty and fidelity. Well after his
    death, he continues to be remembered in worldwide popular culture, with statues, movies, books, and appearances in
    various media. Hachikō is known in Japanese as chūken Hachikō (忠犬ハチ公, "faithful dog Hachikō"), hachi meaning "eight"
    and the suffix -kō originating as one once used for ancient Chinese dukes; thus, Hachikō could be roughly translated
    as either "Mr. Eight" or "Sir Eight".</p>
  <img src="/Hachiko-Photo.png" />

    <a href="/">Back to Home 🏡</a>
    <br>
    <a href="/work">More about Hachiko 🐾</a>
    <br>
    <a href="/gallery">See Gallery 🖼️ </a>

</body>

</html>