<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/gallery-image.css" />
</head>

<body>
    <h1>Image Gallery🐾</h1>
    <div class="gallery">
        <a target="_blank" href="Shibuya-Station.jpeg">
            <img src="Shibuya-Station.jpeg" alt="Shibuya Station" width="600" height="400">
        </a>
        <div class="desc">Shibuya Station as it was in the Taishō and pre-war Shōwa eras (1912–1945).</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="Ueno-family.png">
            <img src="Ueno-family.png" alt="Ueno family" width="600" height="400">
        </a>
        <div class="desc">Hachikō with the Ueno family</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="Hachiko_at_Shibuya_Station.png">
            <img src="Hachiko_at_Shibuya_Station.png" alt="Hachikō at Shibuya station, c. 1933" width="600"
                height="400">
        </a>
        <div class="desc">Hachikō at Shibuya station, c. 1933
        </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="Hachiko's_grave.jpeg">
            <img src="Hachiko's_grave.jpeg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Hachikō's grave beside Professor Ueno's grave in Aoyama Cemetery, Minato, Tokyo.
        </div>
    </div>
    <div class="menu">
        <a href="/">Back to Home 🏡</a>
        <br>
        <a href="/about">See Hachiko Page 👀</a>
        <br>
        <a href="/gallery">See Gallery 🖼️ </a>
    </div>

</body>

</html>