<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/work-page-style.css" />
</head>

<body>
  <h1>important facts🐾</h1>
  <h2>🦴 life</h2>
  <p>Hachikō, a white Akita, was born on November 10, 1923 at a farm located in Ōdate, Akita Prefecture, Japan. In 1924,
    Hidesaburō Ueno, a professor in the agriculture department at the Tokyo Imperial University, took Hachikō as a pet
    and brought him to live in Shibuya, Tokyo. Ueno would commute daily to work, and Hachikō would leave the house to
    greet him at the end of each day at the nearby Shibuya Station. The pair continued the daily routine until May 21,
    1925, when Ueno did not return. The professor had suffered a cerebral hemorrhage while he was giving a lecture to
    his class, and died without ever returning to the train station at which Hachikō waited.</p>
  <p>Each day, for the next nine years, nine months and fifteen days, Hachikō awaited Ueno's return, appearing precisely
    when the train was due at the station.</p>
  <p>Hachikō attracted the attention of other commuters. Many of the people who frequented the Shibuya train station had
    seen Hachikō and Professor Ueno together each day. Initial reactions from the people, especially from those working
    at the station, were not necessarily friendly. However, after the first appearance of the article about him in Asahi
    Shimbun on October 4, 1932, people started to bring Hachikō treats and food to nourish him during his wait.</p>
  <h2>🥺 Death</h2>
  <p>Hachikō died on March 8, 1935, at the age of 11. He was found on a street in Shibuya.[8] In March 2011, scientists
    finally settled the cause of death of Hachikō: the dog had both terminal cancer and a filaria infection.</p>
  <h2> 💚 legacy</h2>
  <p>After his death, Hachikō's remains were cremated and his ashes were buried in Aoyama Cemetery, Minato, Tokyo where
    they rest beside those of Hachikō's beloved master, Professor Ueno. Hachikō's fur, which was preserved after his
    death, was stuffed and his taxidermy mount is currently on permanent display at the National Science Museum of Japan
    in Ueno, Tokyo.</p>
  <img src="https://c.tenor.com/zA1ASBU5mfMAAAAC/hachiko-dog.gif" />

  
    <a href="/">Back to Home 🏡</a>
    <br>
    <a href="/about">See Hachiko Page 👀</a>
    <br>
    <a href="/gallery">See Gallery 🖼️ </a>

</body>

</html>