@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
    color: rgb(10, 12, 12);
    background-color: rgb(117, 214, 193);
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* padding-top: 50px; */
    border: 5px solid #dc9cc2;
}

